*{
  margin:0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'helvetica neue';

}
html, body
 {
  height: 100%;
  width: 100%;
} 
.parent{
 min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  
  display: flex;
gap: 30px;
flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color:#fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;

}
.center{
 
}

.center h3{
  font-size: 17px;
  font-weight: 500;
  display: flex;
  
}

.center h3 span{
  font-size: 8px;
  color: #8b8b8b;
  font-weight: 400;
 margin-left: 4px;
margin-top: 8px;

}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 10px;
 background-color: #dadada;
 color: #111;
  padding: 4px 8px;
  font-weight: 500;
 border-radius:3px;
}





.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding-top: 15px;
}


.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}


.bottom h3{
  font-size: 17px;
} 

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}



